<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="Metamodel Assessor Configuration"
            extensions="mma"
            icon="icons/watchlist_view.gif"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            class="metamodelassessor.ui.editor.ConfigEditor"
            id="metamodelassessor.ui.editor.ConfigEditor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="metamodelassessor.ui.toolbar1">
            <command
                  commandId="metamodelassessor.ui.startUi"
                  icon="icons/watchlist_view.gif"
                  style="push">
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="metamodelassessor.ui.startUiHandler"
            id="metamodelassessor.ui.startUi"
            name="Start Metamodel Assessor UI">
      </command>
   </extension>

</plugin>
